body, html {
    height: 100%;
}

#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by it's height */
    margin: 0 auto -350px;
}

#push,
footer {
    height: 350px;
}

.container {
    margin: 0 auto;
    border: none;
}

.page-header {
    border: none;
}

#logo {
    float: left;
    width: 185px;
}

.navbar-default1 {
    background-color: #EEE;
    border: none;
}

.navbar-default {
    background-color: #FFF;
    border: none;
}

a:hover,
a:focus {
    color: #eee;
    text-decoration: underline;
}

.nav > li > a:hover,
.nav > li > a:focus {
    text-decoration: none;
    background-color: transparent;
}

a {
    color: #000;
    text-decoration: none;
}

.panel-footer {
    background-color: #EEE;
    border: none;
}

.navbar-default .navbar-text {
    color: #FFF;
}

.navbar-text {
    float: none;
    width: 550px;
    margin: 0 auto;
}

@media (max-width: 768px) {
    .navbar-text {
        width: 300px;
        margin: 0 auto;
        text-align: center;
    }
    .navbar-nav {
        float: left;
    }
}

@media (max-width: 320px) {
    .navbar-text {
        width: 200px;
        margin: 0 auto;
        text-align: center;
    }
    .navbar-nav {
        float: left;
    }
}

fieldset ul {
    -webkit-padding-start: 0px;
}

fieldset ul li, .form-error {
    display: block;
    width: 100%;
    height: 100px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #FFF;
    vertical-align: middle;
    background-color: #d9534f;
    background-image: none;
    border: none;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.required {
    margin-top: 5px;
}


