{% extends 'ReuzzeReuzzeBundle::layout.html.twig' %}

{# {% block header_title %}Home{% endblock %} #}

{% block content %}
    <div id="wrap">
        <div class="container">
            <h1>Homepage</h1>
        </div>
        <div id="push"></div>
    </div>

{% endblock %}