{% extends 'ReuzzeReuzzeBundle::layout.html.twig' %}

{# {% block header_title %}Home{% endblock %} #}

{% block content %}
    <div class="fixed">  <!-- we want this div to be fixed width -->
        <legend><div id="yellow"></div>CATEGORIES</legend>
        {% for category in categories %}
            <p>{{ category.categoryName }}</p>
        {% endfor  %}
    </div>
{% endblock %}