{% extends 'ReuzzeReuzzeBundle::layout.html.twig' %}

{# {% block header_title %}Home{% endblock %} #}

{% block content %}
    <div class="fixed">  <!-- we want this div to be fixed width -->
        <legend><div id="yellow"></div>CATEGORIES</legend>
        {% for name, category in categories %}
            <li>{{ name }}</li>
            <ul>
                {% for key, string in category %}
                    <li><a href="{{ key }}">{{ string }}</a></li>
                {% endfor %}
            </ul>
        {% endfor  %}
    </div>
{% endblock %}