security:
    encoders:
        Reuzze\ReuzzeBundle\Entity\Users: #sha512
            algorithm: sha512
            #cost: 15
            #algorithm: sha512
            #encode_as_base64: false

    role_hierarchy:
        ROLE_ADMIN:       ROLE_USER
        ROLE_SUPER_ADMIN: [ROLE_USER, ROLE_ADMIN, ROLE_ALLOWED_TO_SWITCH]

    providers:
        users:
          entity:
            class: ReuzzeReuzzeBundle:Users
            property: username

    firewalls:
       secured_area:
            pattern:  ^/
            #provider: users
            form_login:
                check_path: /login_check
                login_path: /login
                username_parameter: login[username]
                password_parameter: login[password]
            logout:
                path:   /logout
                target: /
            anonymous: ~
            #http_basic:
            #    realm: "Secured Demo Area"

    access_control:
           - { path: ^/,         roles: IS_AUTHENTICATED_ANONYMOUSLY }
           - { path: ^/login,    roles: ROLE_USER }
           - { path: ^/register, roles: IS_AUTHENTICATED_ANONYMOUSLY }
           - { path: ^/logout,   roles: ROLE_USER }
           - { path: ^/entity,   roles: ROLE_USER }
        #- { path: ^/login, roles: IS_AUTHENTICATED_ANONYMOUSLY, requires_channel: https }
