{% extends 'ReuzzeReuzzeBundle::layout.html.twig' %}

{% block content %}
    <section>
        <h1>
            {{ entity.entityTitle }}
        </h1>
        <dl>
            <dt>Title:</dt>
            <dd>{{ entity.entityTitle }}</dd>
        </dl>
    </section>
{% endblock %}