{% extends 'ReuzzeReuzzeBundle::layout.html.twig' %}

{# {% block header_title %}Home{% endblock %} #}

{% block content %}
    <div class="container">
        <h1>Registerpage</h1>
    </div>

{% endblock %}