#reuzze_reuzze_homepage:
    #pattern:  /hello/{name}
    #defaults: { _controller: ReuzzeReuzzeBundle:Default:index }

#HOMEPAGE
reuzze_reuzze_homepage:
    pattern:  /
    defaults: { _controller: ReuzzeReuzzeBundle:Default:home }

#REGISTERPAGE
reuzze_reuzze_registerpage:
    pattern:  /register
    defaults: { _controller: ReuzzeReuzzeBundle:User:register }

#LOGINPAGE
reuzze_reuzze_loginpage:
    pattern:  /login
    defaults: { _controller: ReuzzeReuzzeBundle:User:login }

reuzze_reuzze_login_checkpage:
    pattern:  /login_check
    defaults: { _controller: ReuzzeReuzzeBundle:User:loginCheck }

reuzze_reuzze_logoutpage:
    pattern:  /logout
    defaults: { _controller: ReuzzeReuzzeBundle:User:logout }

#ENTITYPAGE
reuzze_reuzze_entitypage:
    pattern:  /entity/index
    defaults: { _controller: ReuzzeReuzzeBundle:Entity:index }

reuzze_reuzze_entitycreatepage:
    pattern:  /entity/create
    defaults: { _controller: ReuzzeReuzzeBundle:Entity:create }

reuzze_reuzze_entityshowpage:
    pattern:  /entity/{entity_id}/show
    defaults: { _controller: ReuzzeReuzzeBundle:Entity:show }


#CATEGORYPAGE
reuzze_reuzze_categoryindexpage:
    pattern:  /category/index
    defaults: { _controller: ReuzzeReuzzeBundle:Category:index }
