## YAML Template.
## dit is voor validatie
Reuzze\ReuzzeBundle\Entity\Users:
  properties:
    username:
      ## mag niet leeg zijn
      ## - NotBlank: ~
      ##- NotBlank: { message: "mag niet leeg zijn." }
      - NotBlank: { message: "mag niet leeg zijn.", groups: [registration] }
    userEmail:
      - NotBlank: { message: "mag niet leeg zijn.", groups: [login, registration] }
      - Email: { message: "moet geldig mailadres zijn.", groups: [login, registration] }
    password:
      - NotBlank: { message: "mag niet leeg zijn.", groups: [login, registration] }

      #      om te lkaten werken moeten forms op novalidate staan