## YAML Template.
## dit is voor validatie
Reuzze\ReuzzeBundle\Entity\Users:
  properties:
    username:
      - NotBlank: { message: "mag niet leeg zijn.", groups: [login, registration] }
    userEmail:
      - NotBlank: { message: "mag niet leeg zijn.", groups: [login, registration] }
      - Email: { message: "moet geldig mailadres zijn.", groups: [login, registration] }
    password:
      - NotBlank: { message: "mag niet leeg zijn.", groups: [login, registration] }

Reuzze\ReuzzeBundle\Entity\Entities:
  properties:
    entityTitle:
        - NotBlank: { message: "mag niet leeg zijn.", groups: [entities] }